{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
<div class="fixed-top">
    <div class="position-relative" style="margin-top:50px;">
      <div class="position-absolute top-0 end-0 translate-middle">
        <div class="container">
          <div class="row">
            <div class="col">
              <form action="{% url 'set_language' %}" method="POST">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}">
                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="language" onchange="this.form.submit()">
                  {% for language in languages %}
                  <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                    {{ language.name_local }}
                    {% if LANGUAGE_CODE == 'en' %}
                    <img src="https://ipapi.co/static/images/flags/us.png" />
                    {% else %}
                    <img src="https://ipapi.co/static/images/flags/{{LANGUAGE_CODE}}.png" />
                    {% endif %}
                  </option>
                  {% endfor %}
                </select>
              </form>
            </div>
            <div class="col-1">
              {% if LANGUAGE_CODE == 'en' %}
              <img style="object-fit: cover;" src="https://ipapi.co/static/images/flags/us.png" />
              {% else %}
              <img style="object-fit: cover;" src="https://ipapi.co/static/images/flags/{{LANGUAGE_CODE}}.png" />
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "e815a36ng3");
</script>
        <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();
   for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
   k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(90624869, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/90624869" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
    <!-- Yandex.RTB -->
<script>window.yaContextCb=window.yaContextCb||[]</script>
<script src="https://yandex.ru/ads/system/context.js" async></script>
<meta name="yandex-verification" content="6bd5e2cc7d84e7b1" />
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4137874891184814"
     crossorigin="anonymous"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8DHWL20H58"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-8DHWL20H58');
    </script>
        <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NW763C2');</script>
<!-- End Google Tag Manager -->
    <script type="module">
      // Import the functions you need from the SDKs you need
      import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.6/firebase-app.js";
      import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.6.6/firebase-analytics.js";
      // TODO: Add SDKs for Firebase products that you want to use
      // https://firebase.google.com/docs/web/setup#available-libraries

      // Your web app's Firebase configuration
      // For Firebase JS SDK v7.20.0 and later, measurementId is optional
      const firebaseConfig = {
        apiKey: "AIzaSyDpWaFi5QLTNc-yY0ieMKJtGOmbm2ofBm4",
        authDomain: "c0mplex.firebaseapp.com",
        projectId: "c0mplex",
        storageBucket: "c0mplex.appspot.com",
        messagingSenderId: "755681568857",
        appId: "1:755681568857:web:102b1b733df55baefe2948",
        measurementId: "G-95WQGY7X9E"
      };

      // Initialize Firebase
      const app = initializeApp(firebaseConfig);
      const analytics = getAnalytics(app);
    </script>
    <script src="https://kit.fontawesome.com/f7eccd980a.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="icon" sizes="16x16" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="/static/css/C0mplexButtonStyle.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css"/>
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js" integrity="sha512-KZmyTq3PLx9EZl0RHShHQuXtrvdJ+m35tuOiwlcZfs/rE7NZv29ygNA8SFCkMXTnYZQK2OX0Gm2qKGfvWEtRXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700,900|Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>
    <style>
        body {
            background-color: #212121;
            color: white;
        }
    </style>
    <script>
        var app = angular.module("App", []);
        app.controller("Translate", ["$scope", "$http", "$filter", function ($scope, $http, $filter) {
            var text = document.getElementById('text');
            text.focus();
            $scope.ShowData = false;
            $scope.src = "english";
            $scope.dest = "uzbek";
            $http({
                method: 'GET',
                url: "/GetTranslateLanguages",
                }).then(function (d) {
                    console.log(d.data.data);
                    $scope.Languages=d.data.data;
                }, function (error) {
                    alertify.error("Xatolik yuz berdi");
                    console.log("error in GetTranslateLanguages -> ", error);
            });
            $scope.speech=function(text){
                $http({
                    method: 'GET',
                    url: "/TextToSpeech?text="+text,
                    }).then(function (d) {
                        console.log(d.data);
                    }, function (error) {
                        console.log("error in TextToSpeech -> ", error);
                });
            }
            $scope.replace=function(){
                $scope.src1=$scope.src;
                $scope.src=$scope.dest;
                $scope.dest=$scope.src1;
                $scope.text1=$scope.text;
                $scope.text=$scope.result;
                $scope.result=$scope.text1;
            }
            $scope.getResult=function() {
                $scope.result='';
                document.getElementById('hh').className= "modal-backdrop fade show";
                document.getElementById('conn').style.visibility = "visible";
                $http({
                    method: 'GET',
                    url: "/GetTranslateResult?text="+$scope.text+"&src="+$scope.src+"&dest="+$scope.dest,
                }).then(function (d) {
                    $scope.ShowData = true;
                    console.log(d.data.data);
                    $scope.Data = d.data.data;
                    $scope.result=$scope.Data;
                    alertify.success("Natija tayyor");
                    document.getElementById('hh').className= "fade hide";
                    document.getElementById('conn').style.visibility = "hidden";
                }, function (error) {
                    $scope.ShowData = false;
                    alertify.error("Xatolik yuz berdi");
                    console.log("error in GetTranslateResult -> ", error);
                    document.getElementById('hh').className= "fade hide";
                    document.getElementById('conn').style.visibility = "hidden";
                });
            };
        }]);
    </script>

    <title>
        {% if request.LANGUAGE_CODE == 'uz' %}
        Tarjima qilish
        {% else %}
        {% if request.LANGUAGE_CODE == 'ru' %}
        Перевод
        {% else %}
        Translation
        {% endif %}
        {% endif %}
    </title>
</head>
<body ng-app="App" ng-controller="Translate">
<!-- Yandex.RTB R-A-1963742-1 -->
<div id="yandex_rtb_R-A-1963742-1"></div>
<script>window.yaContextCb.push(()=>{
  Ya.Context.AdvManager.render({
    renderTo: 'yandex_rtb_R-A-1963742-1',
    blockId: 'R-A-1963742-1'
  })
})</script>
<div id="conn" style="visibility:hidden;position:absolute;margin-left:45%;margin-top:20%;z-index:9999">
    <img src="/static/img/buffering.gif" />
</div>
<input id="hh" type="text" class="fade hide" />
<div class="container" >
    <div class="C0mplexButton float-end">
        <a href="/#services">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            X
        </a>
    </div>
    <h2>
        {% if request.LANGUAGE_CODE == 'uz' %}
        Tarjima qilish
        {% else %}
        {% if request.LANGUAGE_CODE == 'ru' %}
        Перевод
        {% else %}
        Translation
        {% endif %}
        {% endif %}
        <a href="https://play.google.com/store/apps/details?id=translate.complexprogrammer.uz" target="_blank">
            <img src="/static/img/google-play.svg" />
        </a>
    </h2>
    <div class="row text-center">
        <div class="col">
            <div class="C0mplexButton Info">
                <a href="#" ng-click="replace()">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <i class="fa-solid fa-arrow-right-arrow-left"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
            <select class="form-select" ng-change="getResult()" required name="src" ng-model="src" ng-options="item for item in Languages"></select>
        </div>
<!--        <div class="col-1">-->
<!--                <button class="btn btn-light" ng-click="replace()"><img src="/static/icons/left-right.svg"></button>-->
<!--        </div>-->
        <div class="col">
            <select class="form-select" ng-change="getResult()" required name="dest" ng-model="dest" ng-options="item for item in Languages"></select>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <textarea ng-model="text" id="text" class="form-control" cols="5" rows="15">

            </textarea>
        </div>
        <div class="col">
            <textarea ng-model="result" class="form-control" cols="5" rows="15" disabled>

            </textarea>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-light" style="width:50px" ng-click="speech(text)"><img width="100%" src="/static/icons/icons9-voice-80.png"></button>
        </div>
        <div class="col">
            <button class="btn btn-light float-end" style="width:50px" ng-click="speech(result)"><img width="100%" src="/static/icons/icons9-voice-80.png"></button>
        </div>

    </div>
    <div class="C0mplexButton Success">
        <a href="#" ng-click="getResult()" style="width:100%;text-align:center">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <i class="fa-solid fa-rotate"></i>
            {% if request.LANGUAGE_CODE == 'uz' %}
            Tarjima qilish
            {% else %}
            {% if request.LANGUAGE_CODE == 'ru' %}
            Перевод
            {% else %}
            Translation
            {% endif %}
            {% endif %}
        </a>
    </div>
    <br />
    {% if request.LANGUAGE_CODE == 'uz' %}
    <div class="row">
        <div class="col">
             <div class="card text-bg-info mb-12">
                 <div class="card-header">Bepul tarjimon (xususiyatlari):</div>
                 <div class="card-body">
                     <h5 class="card-title"></h5>
                     <p class="card-text">
                        Maqolalar, paragraflar yoki boshqa tillar orasidagi boshqa narsalarni tarjima qilish uchun 100% bepul AI Paragraph Translator vositasidan foydalanishni o'ylab ko'rganmisiz?
                        <br />
                        <br />
                        Agar shunday bo'lsa, siz to'g'ri joydasiz!
                        <br />
                        <br />
                        Agar siz ushbu AI texnologiyasida yangi bo'lsangiz, menga tushuntirib bering.
                        <br />
                        <br />
                        Sun'iy intellekt vositalari bugungi kunda eng so'nggi tendentsiya bo'lib, H-supertools-da biz onlayn ishlashda vaqt va pulni tejashga yordam beradigan eng yaxshi AI vositalarini ishlab chiqishga harakat qilmoqdamiz. biz birinchi bo'lib bepulni ishga tushirdik
                        <br />
                        <br />
                        AI kontent yaratish vositasi va endi AI paragraf tarjimoni.
                     </p>
                     <br />
                     <h5 class="card-title">Shunday qilib, qisqacha:</h5>
                     <p class="card-text">
                         Ushbu bepul vosita paragraflarni turli tillarga bir necha soniya ichida tarjima qilishga yordam beradi. <br /> <br />
                     </p>
                     <br />
                     <h5 class="card-title">How To Use The Free AI Paragraph Translator tool?</h5>
                     <p class="card-text">
                        H-supertools-da bizning asosiy maqsadimiz narsalarni soddalashtirishdir, shuning uchun biz bir necha marta bosish bilan ishlaydigan juda kuchli vositalarni yaratamiz.
                        <br />
                        <br />
                        Shunday qilib, siz tarjima qilmoqchi bo'lgan paragrafni joylashtirishingiz kerak, manba va maqsadli tilni tanlang, "Tarjima" tugmasini bosing va qolganini AIga qo'ying!
                        <br />
                        <br />
                     </p>
                     <br />
                     <h5 class="card-title">Nega biz matn kiritishda cheklovlarga egamiz?</h5>
                     <p class="card-text">
                        Ehtimol, nima uchun bizda kiritishda 900 belgi chegarasi bor, chunki bu vosita bepul!
                        <br />
                        <br />
                        Afsuski, Bepul Asboblar har doim spamerlarga qarshi himoyasiz bo'lib, bizning veb-saytimizni himoya qiladi va haqiqiy yordamga muhtoj odamlar uchun uni saqlab qoladi. Shuning uchun biz foydalanishga ba'zi cheklovlar qo'yishimiz shart.
                        <br />
                        <br />
                        Yaxshi xabar shundaki, foydalanuvchilarning ushbu vositadagi faolligini kuzatib borar ekanmiz, bu chegaralar asta-sekin ortadi.
                         <br />
                         <br />
                     </p>
                     <h5 class="card-title">Mavjud tillar:</h5>
                     <p class="card-text">
                        * Afrikaan
                          <br />
                          * Amhar
                          <br />
                          * Arabcha
                          <br />
                          * Ozarbayjon
                          <br />
                          * Belarus
                          <br />
                          * Bolgar
                          <br />
                          * Bengal
                          <br />
                          * Bosniyalik
                          <br />
                          * Katalon
                          <br />
                          * Sebuano
                          <br />
                          * Korsika
                          <br />
                          * Chex
                          <br />
                          * Uels
                          <br />
                          * Daniya
                          <br />
                          * Nemis
                          <br />
                          * yunoncha
                          <br />
                          * Ingliz
                          <br />
                          * Esperanto
                          <br />
                          * Ispan
                          <br />
                          * Eston
                          <br />
                          * Bask
                          <br />
                          * Forscha
                          <br />
                          * Fin
                          <br />
                          * Fransuz
                          <br />
                          * Friz
                          <br />
                          * Irlandiya
                          <br />
                          * Shotlandiya gael
                          <br />
                          * Galisian
                          <br />
                          * Gujarati
                          <br />
                          * Hausa
                          <br />
                          * Gavayi
                          <br />
                          * Ibroniycha
                          <br />
                          * Hind
                          <br />
                          * Hmong
                          <br />
                          * Xorvat
                          <br />
                          * Gaiti kreoli
                          <br />
                          * Venger
                          <br />
                          * arman
                          <br />
                          * Indoneziya
                          <br />
                          * Igbo
                          <br />
                          * Islandiyalik
                          <br />
                          * Italiya
                          <br />
                          * Ibroniycha
                          <br />
                          * Yapon
                          <br />
                          * Yava
                          <br />
                          * Gruzin
                          <br />
                          * Qozoq
                          <br />
                          * Kxmer
                          <br />
                          * Kannada
                          <br />
                          * Koreys
                          <br />
                          * Kurd (kurmanji)
                          <br />
                          * qirg'iz
                          <br />
                          * Lotin
                          <br />
                          * Lyuksemburg
                          <br />
                          * Lao
                          <br />
                          * Litva
                          <br />
                          * Latviya
                          <br />
                          * Malagasi
                          <br />
                          * Maori
                          <br />
                          * makedon
                          <br />
                          * Malayalam
                          <br />
                          * Mo'g'ul
                          <br />
                          * Marathi
                          <br />
                          * Malay
                         <br />
                         * Malta
                         <br />
                         * Myanma (birma)
                         <br />
                         * Nepal
                         <br />
                         * Gollandiya
                         <br />
                         * Norvegiya
                         <br />
                         * Chicheva
                         <br />
                         * Odiya
                         <br />
                         * Panjob
                         <br />
                         * Polsha
                         <br />
                         * Pashtu
                         <br />
                         * Portugal
                         <br />
                         * Ruminiya
                         <br />
                         * Rus
                         <br />
                         * Sindhi
                         <br />
                         * Sinhala
                         <br />
                         * Slovak
                         <br />
                         * Sloven
                         <br />
                         * Samoa
                         <br />
                         * Shona
                         <br />
                         * Somali
                         <br />
                         * Alban
                         <br />
                         * Serb
                         <br />
                         * Sesoto
                         <br />
                         * Sundan
                         <br />
                         * shved
                         <br />
                         * Suahili
                         <br />
                         * Tamil
                         <br />
                         * Telugu
                         <br />
                         * tojik
                         <br />
                         * Tailand
                         <br />
                         * Filippin
                         <br />
                         * Turkcha
                         <br />
                         * Uyg'ur
                         <br />
                         * ukrain
                         <br />
                         * Urdu
                         <br />
                         * O'zbek
                         <br />
                         * Vetnam
                         <br />
                         * Xosa
                         <br />
                         * Yiddish
                         <br />
                         * Yoruba
                         <br />
                         * Xitoy (soddalashtirilgan)
                         <br />
                         * Xitoy (an'anaviy)
                         <br />
                         * Zulu
                         <br />
                         Biz koʻproq tillarni qoʻshishga harakat qilmoqdamiz.
                         <br />
                         <br />
                     </p>
                     <h5 class="card-title">Prohibited Content</h5>
                     <p class="card-text">
                        Biz yomon kontentda qattiq filtrlashdan foydalanamiz, shuning uchun sizga quyidagi kontent toifalaridan birini yaratish uchun vositadan foydalanishga ruxsat berilmagan:
                        <br />
                        * Nafrat: shaxsga asoslangan nafratni ifodalovchi, qo'zg'atuvchi yoki targ'ib qiluvchi kontent.
                        <br />
                        * Bezorilik: shaxsni ta'qib qilish, tahdid qilish yoki haqorat qilishni maqsad qilgan kontent.
                        <br />
                        * Zo'ravonlik: zo'ravonlikni targ'ib qiluvchi yoki ulug'laydigan yoki boshqalarning azoblanishi yoki tahqirlanishini nishonlaydigan kontent.
                        <br />
                        * Oʻz-oʻziga zarar yetkazish: oʻz joniga qasd qilish, kesish va ovqatlanish buzilishi kabi oʻz-oʻziga zarar yetkazishni targʻib qiluvchi, ragʻbatlantiradigan yoki tasvirlaydigan kontent.
                        <br />
                        * Voyaga yetganlar uchun: jinsiy aloqani tasvirlash yoki jinsiy xizmatlarni targʻib qilish kabi jinsiy hayajonni uygʻotish uchun moʻljallangan kontent (jinsiy taʼlim va salomatlik bundan mustasno).
                        <br />
                        * Siyosiy: siyosiy jarayonga ta'sir o'tkazishga yoki saylovoldi tashviqoti maqsadlarida foydalanishga urinish bo'lgan kontent.
                        <br />
                        * Spam: so'ralmagan ommaviy kontent.
                         <br />
                         * Aldash: yolg'on yoki chalg'ituvchi kontent, masalan, shaxslarni aldashga yoki dezinformatsiyani tarqatishga urinish.
                         <br />
                         * Zararli dasturiy ta'minot: to'lov dasturi, keyloggerlar, viruslar yoki ma'lum darajada zarar yetkazishga mo'ljallangan boshqa dasturlarni yaratishga urinadigan kontent.
                         <br />
                     </p>
                 </div>
             </div>
        </div>
     </div>
    {% else %}
    {% if request.LANGUAGE_CODE == 'ru' %}
    <div class="row">
        <div class="col">
             <div class="card text-bg-info mb-12">
                 <div class="card-header">Бесплатный переводчик (объяснение):</div>
                 <div class="card-body">
                     <h5 class="card-title"></h5>
                     <p class="card-text">
                        Вы думали об использовании 100% бесплатного инструмента AI Paragraph Translator для перевода статей, абзацев или просто чего-либо с другого языка?
                          <br />
                          <br />
                          Если да, то вы находитесь в правильном месте!
                          <br />
                          <br />
                          Если вы новичок в этой технологии искусственного интеллекта, позвольте мне объяснить.
                          <br />
                          <br />
                          Инструменты искусственного интеллекта — это последняя тенденция сегодняшнего дня, и здесь, в H-supertools, мы делаем все возможное, чтобы разработать лучшие инструменты искусственного интеллекта, которые помогут вам сэкономить время и деньги при работе в Интернете. мы первыми запустили бесплатную
                          <br />
                          <br />
                          Инструмент создания AI-контента, а теперь и AI-переводчик абзацев.
                     </p>
                     <br />
                     <h5 class="card-title">Коротко:</h5>
                     <p class="card-text">
                         Этот бесплатный инструмент поможет вам переводить абзацы с разных языков за считанные секунды.
                         <br />
                         <br />
                     </p>
                     <br />
                     <h5 class="card-title">Как использовать бесплатный инструмент AI-переводчик абзацев?</h5>
                     <p class="card-text">
                         Наша главная цель в H-supertools — упростить вещи, поэтому мы создаем сверхмощные инструменты, которые работают с помощью нескольких щелчков мыши.
                         <br />
                         <br />
                         Итак, вам нужно вставить абзац, который вы хотите перевести, выбрать исходный и целевой язык, нажать «Перевести», и пусть ИИ сделает все остальное!
                         <br />
                         <br />
                     </p>
                     <br />
                     <h5 class="card-title">Почему у нас есть ограничения на вводимый текст?</h5>
                     <p class="card-text">
                         Возможно, вам интересно, почему у нас есть ограничение на вводимые символы в 900 символов, поскольку этот инструмент бесплатен!
                         <br />
                         <br />
                         К сожалению, бесплатные инструменты всегда уязвимы для спамеров, поэтому они защищают наш веб-сайт и поддерживают его работоспособность для людей, которым нужна реальная помощь. Поэтому мы обязаны установить некоторые ограничения на использование.
                         <br />
                         <br />
                         Хорошей новостью является то, что эти ограничения будут постепенно увеличиваться по мере того, как мы будем отслеживать активность пользователей в этом инструменте.
                         <br />
                         <br />
                     </p>
                     <h5 class="card-title">Доступные языки:</h5>
                     <p class="card-text">
                        * Африкаанс
                        <br />
                        * Амхарский
                        <br />
                        * арабский
                        <br />
                        * азербайджанский
                        <br />
                        * Белорусский
                        <br />
                        * Болгарский
                        <br />
                        * Бенгальский
                        <br />
                        * Боснийский
                        <br />
                        * Каталанский
                        <br />
                        * Кебуано
                        <br />
                        * Корсиканец
                        <br />
                        * Чешский
                        <br />
                        * Валлийский
                        <br />
                        * Датский
                        <br />
                        * Немецкий
                        <br />
                        * Греческий
                        <br />
                        * Английский
                        <br />
                        * Эсперанто
                        <br />
                        * Испанский
                        <br />
                        * Эстонский
                        <br />
                        * Баскский
                        <br />
                        * Персидский
                        <br />
                        * Финский
                        <br />
                        * Французский
                        <br />
                        * Фризский
                        <br />
                        * Ирландский
                        <br />
                        * Шотландский гэльский
                        <br />
                        * Галисийский
                        <br />
                        * Гуджарати
                        <br />
                        * Хауса
                        <br />
                        * Гавайский
                        <br />
                        * Иврит
                        <br />
                        * Хинди
                        <br />
                        * Хмонг
                        <br />
                        * Хорватский
                        <br />
                        * Гаитянский креольский
                        <br />
                        * Венгерский
                        <br />
                        * Армянский
                        <br />
                        * Индонезийский
                        <br />
                        * Игбо
                        <br />
                        * Исландский
                        <br />
                        * Итальянский
                        <br />
                        * Иврит
                        <br />
                        * Японский
                        <br />
                        * Яванский
                        <br />
                        * Грузинский
                        <br />
                        * Казахский
                        <br />
                        * Кхмерский
                        <br />
                        * Каннада
                        <br />
                        * Корейский
                        <br />
                        * Курдский (курманджи)
                        <br />
                        * Кыргызский
                        <br />
                        * латынь
                        <br />
                        * Люксембургский
                        <br />
                        * Лао
                        <br />
                        * Литовский
                        <br />
                        * Латышский
                        <br />
                        * Малагасийский
                        <br />
                        * Маори
                        <br />
                        * Македонский
                        <br />
                        * Малаялам
                        <br />
                        * Монгольский
                        <br />
                        * Маратхи
                        <br />
                        * Малайский
                         <br />
                         * Мальтийский
                         <br />
                         * Мьянма (бирманский)
                         <br />
                         * Непальский
                         <br />
                         * Голландский
                         <br />
                         * Норвежский
                         <br />
                         * Чичева
                         <br />
                         * Одия
                         <br />
                         * Пенджаби
                         <br />
                         * Польский
                         <br />
                         * Пушту
                         <br />
                         * Португальский
                         <br />
                         * Румынский
                         <br />
                         * Русский
                         <br />
                         * Синдхи
                         <br />
                         * Сингальский
                         <br />
                         * словацкий
                         <br />
                         * Словенский
                         <br />
                         * Самоа
                         <br />
                         * Шона
                         <br />
                         * Сомали
                         <br />
                         * Албанский
                         <br />
                         * Сербский
                         <br />
                         * Сесото
                         <br />
                         * Суданский
                         <br />
                         * Шведский
                         <br />
                         * Суахили
                         <br />
                         * Тамильский
                         <br />
                         * телугу
                         <br />
                         * Таджикский
                         <br />
                         * Тайский
                         <br />
                         * Филиппинский
                         <br />
                         * Турецкий
                         <br />
                         * Уйгурский
                         <br />
                         * Украинец
                         <br />
                         * Урду
                         <br />
                         * Узбекский
                         <br />
                         * Вьетнамский
                         <br />
                         * Коса
                         <br />
                         * Идиш
                         <br />
                         * Йоруба
                         <br />
                         * Китайский упрощенный)
                         <br />
                         * Китайский традиционный)
                         <br />
                         * Зулу
                         <br />
                         Мы изо всех сил стараемся добавить больше языков.
                         <br />
                         <br />
                     </p>
                     <h5 class="card-title">Prohibited Content</h5>
                     <p class="card-text">
                        Мы используем строгую фильтрацию плохого контента, поэтому вам не разрешается использовать этот инструмент для создания любой из следующих категорий контента:
                        <br />
                        * Ненависть: контент, который выражает, разжигает или пропагандирует ненависть на основе идентичности.
                        <br />
                        * Преследование: контент, целью которого является преследование, угроза или запугивание человека.
                        <br />
                        * Насилие: контент, пропагандирующий или прославляющий насилие или прославляющий страдания или унижение других.
                        <br />
                        * Членовредительство: контент, который пропагандирует, поощряет или изображает акты членовредительства, такие как самоубийство, порезы и расстройства пищевого поведения.
                        <br />
                        * Для взрослых: контент, призванный вызвать сексуальное возбуждение, например описание сексуальной активности или реклама сексуальных услуг (за исключением полового воспитания и здоровья).
                        <br />
                        * Политический: контент, пытающийся повлиять на политический процесс или используемый в целях предвыборной кампании.
                        <br />
                        * Спам: Массовый нежелательный контент.
                         <br />
                         * Обман: ложный или вводящий в заблуждение контент, например, попытка обмануть людей или распространить дезинформацию.
                         <br />
                         * Вредоносное ПО: контент, который пытается создать программы-вымогатели, кейлоггеры, вирусы или другое программное обеспечение, предназначенное для нанесения определенного уровня вреда.
                         <br />
                     </p>
                 </div>
             </div>
        </div>
     </div>
    {% else %}
    <div class="row">
        <div class="col">
             <div class="card text-bg-info mb-12">
                 <div class="card-header">Free Translator (Explained):</div>
                 <div class="card-body">
                     <h5 class="card-title"></h5>
                     <p class="card-text">
                         Have you been thinking of using a 100% free AI Paragraph Translator tool to Translate Articles, Paragraphs, or simply anything between different languages?
                         <br />
                         <br />
                         If so, you are in the right place!
                         <br />
                         <br />
                         If you are new to this AI technology, let me explain.
                         <br />
                         <br />
                         Artificial intelligence tools are the latest trend today, and here on H-supertools, we are trying our best to develop the best AI tools that help you save time and money while working online. we launched first the free
                         <br />
                         <br />
                         AI content generator tool, and now the AI Paragraph Translator.
                     </p>
                     <br />
                     <h5 class="card-title">So in Short:</h5>
                     <p class="card-text">
                         This Free Tool Helps You Translate Paragraphs between different languages in seconds.
                         <br />
                         <br />
                     </p>
                     <br />
                     <h5 class="card-title">How To Use The Free AI Paragraph Translator tool?</h5>
                     <p class="card-text">
                         Here on H-supertools, our primary goal is to simplify things, so we create super powerful tools that work with a few clicks.
                         <br />
                         <br />
                         So, you need to paste the paragraph you want to translate, select the source and target language, click Translate, and let the AI do the rest!
                         <br />
                         <br />
                     </p>
                     <br />
                     <h5 class="card-title">Why do We have limits on the Input text?</h5>
                     <p class="card-text">
                         Maybe you are wondering why we have a 900 char limit on the input as This Tool is Free!
                         <br />
                         <br />
                         Unfortunately, Free Tools are always vulnerable to spammers, and to protect our website and keep it up for people who want real help. Therefore, we are obliged to set some limitations on usage.
                         <br />
                         <br />
                         The Good News is these limits will gradually increase as we monitor users' activity on this tool.
                         <br />
                         <br />
                     </p>
                     <h5 class="card-title">Available Languages:</h5>
                     <p class="card-text">
                         * Afrikaans
                         <br />
                         * Amharic
                         <br />
                         * Arabic
                         <br />
                         * Azerbaijani
                         <br />
                         * Belarusian
                         <br />
                         * Bulgarian
                         <br />
                         * Bengali
                         <br />
                         * Bosnian
                         <br />
                         * Catalan
                         <br />
                         * Cebuano
                         <br />
                         * Corsican
                         <br />
                         * Czech
                         <br />
                         * Welsh
                         <br />
                         * Danish
                         <br />
                         * German
                         <br />
                         * Greek
                         <br />
                         * English
                         <br />
                         * Esperanto
                         <br />
                         * Spanish
                         <br />
                         * Estonian
                         <br />
                         * Basque
                         <br />
                         * Persian
                         <br />
                         * Finnish
                         <br />
                         * French
                         <br />
                         * Frisian
                         <br />
                         * Irish
                         <br />
                         * Scots gaelic
                         <br />
                         * Galician
                         <br />
                         * Gujarati
                         <br />
                         * Hausa
                         <br />
                         * Hawaiian
                         <br />
                         * Hebrew
                         <br />
                         * Hindi
                         <br />
                         * Hmong
                         <br />
                         * Croatian
                         <br />
                         * Haitian creole
                         <br />
                         * Hungarian
                         <br />
                         * Armenian
                         <br />
                         * Indonesian
                         <br />
                         * Igbo
                         <br />
                         * Icelandic
                         <br />
                         * Italian
                         <br />
                         * Hebrew
                         <br />
                         * Japanese
                         <br />
                         * Javanese
                         <br />
                         * Georgian
                         <br />
                         * Kazakh
                         <br />
                         * Khmer
                         <br />
                         * Kannada
                         <br />
                         * Korean
                         <br />
                         * Kurdish (kurmanji)
                         <br />
                         * Kyrgyz
                         <br />
                         * Latin
                         <br />
                         * Luxembourgish
                         <br />
                         * Lao
                         <br />
                         * Lithuanian
                         <br />
                         * Latvian
                         <br />
                         * Malagasy
                         <br />
                         * Maori
                         <br />
                         * Macedonian
                         <br />
                         * Malayalam
                         <br />
                         * Mongolian
                         <br />
                         * Marathi
                         <br />
                         * Malay
                         <br />
                         * Maltese
                         <br />
                         * Myanmar (burmese)
                         <br />
                         * Nepali
                         <br />
                         * Dutch
                         <br />
                         * Norwegian
                         <br />
                         * Chichewa
                         <br />
                         * Odia
                         <br />
                         * Punjabi
                         <br />
                         * Polish
                         <br />
                         * Pashto
                         <br />
                         * Portuguese
                         <br />
                         * Romanian
                         <br />
                         * Russian
                         <br />
                         * Sindhi
                         <br />
                         * Sinhala
                         <br />
                         * Slovak
                         <br />
                         * Slovenian
                         <br />
                         * Samoan
                         <br />
                         * Shona
                         <br />
                         * Somali
                         <br />
                         * Albanian
                         <br />
                         * Serbian
                         <br />
                         * Sesotho
                         <br />
                         * Sundanese
                         <br />
                         * Swedish
                         <br />
                         * Swahili
                         <br />
                         * Tamil
                         <br />
                         * Telugu
                         <br />
                         * Tajik
                         <br />
                         * Thai
                         <br />
                         * Filipino
                         <br />
                         * Turkish
                         <br />
                         * Uyghur
                         <br />
                         * Ukrainian
                         <br />
                         * Urdu
                         <br />
                         * Uzbek
                         <br />
                         * Vietnamese
                         <br />
                         * Xhosa
                         <br />
                         * Yiddish
                         <br />
                         * Yoruba
                         <br />
                         * Chinese (simplified)
                         <br />
                         * Chinese (traditional)
                         <br />
                         * Zulu
                         <br />
                         We are trying our best to add more languages.
                         <br />
                         <br />
                     </p>
                     <h5 class="card-title">Prohibited Content</h5>
                     <p class="card-text">
                         We use Strict Filtering on bad content, so you are not allowed to use the tool for generating any of the following categories of content:
                         <br />
                         * Hate: content that expresses, incites, or promotes hate based on identity.
                         <br />
                         * Harassment: content that intends to harass, threaten, or bully an individual.
                         <br />
                         * Violence: content that promotes or glorifies violence or celebrates the suffering or humiliation of others.
                         <br />
                         * Self-harm: content that promotes, encourages, or depicts acts of self-harm, such as suicide, cutting, and eating disorders.
                         <br />
                         * Adult: content meant to arouse sexual excitement, such as describing a sexual activity or promoting sexual services (excluding sex education and wellness).
                         <br />
                         * Political: content attempting to influence the political process or be used for campaigning purposes.
                         <br />
                         * Spam: Unsolicited bulk content.
                         <br />
                         * Deception: false or misleading content, such as attempting to defraud individuals or spread disinformation.
                         <br />
                         * Malware: content that attempts to generate ransomware, keyloggers, viruses, or other software intended to impose some level of harm.
                         <br />
                     </p>
                 </div>
             </div>
        </div>
     </div>
    {% endif %}
    {% endif %}
</div>
</body>
</html>