{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
<div class="fixed-top">
  <div class="position-relative" style="margin-top:50px;">
    <div class="position-absolute top-0 end-0 translate-middle">
      <div class="container">
        <div class="row">
          <div class="col">
            <form action="{% url 'set_language' %}" method="POST">
              {% csrf_token %}
              <input name="next" type="hidden" value="{{ redirect_to }}">
              <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="language" onchange="this.form.submit()">
                {% for language in languages %}
                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                  {{ language.name_local }}
                  {% if LANGUAGE_CODE == 'en' %}
                  <img src="https://ipapi.co/static/images/flags/us.png" />
                  {% else %}
                  <img src="https://ipapi.co/static/images/flags/{{LANGUAGE_CODE}}.png" />
                  {% endif %}
                </option>
                {% endfor %}
              </select>
            </form>
          </div>
          <div class="col-1">
            {% if LANGUAGE_CODE == 'en' %}
            <img style="object-fit: cover;" src="https://ipapi.co/static/images/flags/us.png" />
            {% else %}
            <img style="object-fit: cover;" src="https://ipapi.co/static/images/flags/{{LANGUAGE_CODE}}.png" />
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!DOCTYPE html>
<html lang="en">
<head>
<script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "e815a36ng3");
</script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();
   for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
   k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(90624869, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/90624869" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
    <!-- Yandex.RTB -->
<script>window.yaContextCb=window.yaContextCb||[]</script>
<script src="https://yandex.ru/ads/system/context.js" async></script>
<meta name="yandex-verification" content="6bd5e2cc7d84e7b1" />
<meta charset="UTF-8">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4137874891184814"
 crossorigin="anonymous"></script>
 <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7773722896374259"
     crossorigin="anonymous"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-8DHWL20H58"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-8DHWL20H58');
</script>
        <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NW763C2');
</script>
<!-- End Google Tag Manager -->
    <script type="module">
      // Import the functions you need from the SDKs you need
      import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.6/firebase-app.js";
      import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.6.6/firebase-analytics.js";
      // TODO: Add SDKs for Firebase products that you want to use
      // https://firebase.google.com/docs/web/setup#available-libraries

      // Your web app's Firebase configuration
      // For Firebase JS SDK v7.20.0 and later, measurementId is optional
      const firebaseConfig = {
        apiKey: "AIzaSyDpWaFi5QLTNc-yY0ieMKJtGOmbm2ofBm4",
        authDomain: "c0mplex.firebaseapp.com",
        projectId: "c0mplex",
        storageBucket: "c0mplex.appspot.com",
        messagingSenderId: "755681568857",
        appId: "1:755681568857:web:102b1b733df55baefe2948",
        measurementId: "G-H8XGTS4B9J"
      };

      // Initialize Firebase
      const app = initializeApp(firebaseConfig);
      const analytics = getAnalytics(app);
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script><link rel="icon" sizes="16x16" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="/static/css/C0mplexButtonStyle.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css"/>
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js" integrity="sha512-KZmyTq3PLx9EZl0RHShHQuXtrvdJ+m35tuOiwlcZfs/rE7NZv29ygNA8SFCkMXTnYZQK2OX0Gm2qKGfvWEtRXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700,900|Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://kit.fontawesome.com/391652c176.js" crossorigin="anonymous"></script>
    <title>
      {% if request.LANGUAGE_CODE == 'uz' %}
      Youtube yuklab olish dasturi
      {% else %}
      {% if request.LANGUAGE_CODE == 'ru' %}
      Загрузчик YouTube
      {% else %}
      Youtube Downloader
      {% endif %}
      {% endif %}
    </title>
    <style>
        body {
          background-color: #212121;
          color: white;
      }
    </style>
    <script>
      var app = angular.module("App", []);
      app.controller("YoutubeDownloader", ["$scope", "$http", "$filter", function ($scope, $http, $filter) {
            $scope.convert_choice = 1;
            $scope.convert_quality = "low";
            $scope.UrlTo = function(choice){
                $scope.convert_choice = choice;
                if(choice==1){
                    document.getElementById('quality-tab').style = "display:visible";
                }
                else{
                    document.getElementById('quality-tab').style = "display:none";
                }
            }
            $scope.Quality = function(quality){
                $scope.convert_quality = quality
            }
            $scope.Paste=function(){
                navigator.clipboard.readText().then((clipText) => ($scope.link = clipText, document.getElementById('link').value = clipText ));
            }
            $scope.youtube_downloader = function(){
                document.getElementById('conn').style.visibility = "visible";
                document.getElementById('hh').className= "modal-backdrop fade show";
                $scope.links = $scope.link.split(",");
                console.log($scope.link)
                console.log($scope.links)
                $scope.model = {
                    choice:$scope.convert_choice,
                    quality:$scope.convert_quality,
                    link:$scope.link,
                    links:$scope.links
                }
                console.dir($scope.model)
                function getCookie(name) {
                  let cookieValue = null;
                  if (document.cookie && document.cookie !== '') {
                      const cookies = document.cookie.split(';');
                      for (let i = 0; i < cookies.length; i++) {
                          const cookie = cookies[i].trim();
                          // Does this cookie string begin with the name we want?
                          if (cookie.substring(0, name.length + 1) === (name + '=')) {
                              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                              break;
                          }
                      }
                  }
                  return cookieValue;
              }
              const csrftoken = getCookie('csrftoken');
              console.log(csrftoken)
              console.log(document.cookie)
                $http({
                    method: 'POST',
                    url: "/youtube_downloader/",
                    data: JSON.stringify($scope.model),
                    headers: {'X-CSRFToken': csrftoken},
                    dataType: "json"
                }).then(function (d) {
                  console.log(d.data)
                    if(d.data.result=="0"){
                        alertify.error("Youtube video url manzili kiritilmagan");
                        document.getElementById('hh').className= "fade hide";
                        document.getElementById('conn').style.visibility = "hidden";
                    }
                    else{
                        window.location.href = "/send_file?filename="+d.data.result;
                        setTimeout(function() {
                            $http({
                                method: 'POST',
                                url: "/remove_file?filename="+d.data.result,
                            }).then(function (d) {
                                console.log(d.data);
                                document.getElementById('hh').className= "fade hide";
                                document.getElementById('conn').style.visibility = "hidden";
                            }, function (error) {
                                document.getElementById('hh').className= "fade hide";
                                document.getElementById('conn').style.visibility = "hidden";
                                console.log("error in remove_file -> ", error);
                            });
                        }, 3000);
                        alertify.success("Fayl yuklanmoqda...");
                    }
                }, function (error) {
                    alertify.error("Xatolik yuz berdi");
                    document.getElementById('hh').className= "fade hide";
                    document.getElementById('conn').style.visibility = "hidden";
                    console.log("error in youtube_downloader -> ", error);
                });
            }
      }]);
    </script>
</head>
<body ng-app="App" ng-controller="YoutubeDownloader" class="modal-open">
  <ins class="adsbygoogle"
  style="display:block; text-align:center;"
  data-ad-layout="in-article"
  data-ad-format="fluid"
  data-ad-client="ca-pub-7773722896374259"
  data-ad-slot="2303661293"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
  <ins class="adsbygoogle"
  style="display:block; text-align:center;"
  data-ad-layout="in-article"
  data-ad-format="fluid"
  data-ad-client="ca-pub-4137874891184814"
  data-ad-slot="6832564320"></ins>
<script>
   (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div id="conn" style="visibility:hidden;position:absolute;margin-left:45%;margin-top:20%;z-index:9999">
    <img src="/static/img/buffering.gif" />
</div>
<input id="hh" type="text" class="fade hide" />
<input type="text" class="fade hide" value="{{csrf_token}}" />
<div class="container">
  <div class="C0mplexButton float-end">
      <a href="/#services">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          X
      </a>
  </div>
  <div class="row">
      <div class="col"></div>
      <div class="col">
          <img src="/static/img/C0mplex.png" class="img-fluid" alt="...">
      </div>
      <div class="col"></div>
      <div class="col">
          <img src="/static/img/youtube.png" class="img-fluid" alt="...">
      </div>
      <div class="col"></div>
  </div>
  <div class="row">
      <div class="col">
          <div class="card text-white bg-dark mb-3">
            <div class="card-header">
              {% if request.LANGUAGE_CODE == 'uz' %}
              Youtube yuklab olish dasturi
              {% else %}
              {% if request.LANGUAGE_CODE == 'ru' %}
              Загрузчик YouTube
              {% else %}
              Youtube Downloader
              {% endif %}
              {% endif %}
                  <a href="https://play.google.com/store/apps/details?id=youtubedownloader.complexprogrammer.uz" target="_blank">
                      <img src="/static/img/google-play.svg" />
                  </a>
            </div>
            {% if request.LANGUAGE_CODE == 'uz' %}
            <div class="card-body">
              <h5 class="card-title">youtube yuklab olish konvertori</h5>
              <p class="card-text">YouTube videolari yoki pleylistlarini yuklab olish va ularni MP3 ga aylantirish imkoniyatiga ega oddiy veb-sayt.</p>
              <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button ng-click="UrlTo(1)" class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true"><span class="material-icons">video_file</span> .mp4</button>
                </li>

                <li class="nav-item" role="presentation">
                  <button ng-click="UrlTo(3)" class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false"><span class="material-icons">audio_file</span> .mp3</button>
                </li>
              </ul>
              <ul class="nav nav-pills mb-3" id="quality-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button ng-click="Quality('low')" class="nav-link text-danger active" id="low" data-bs-toggle="pill" data-bs-target="#low" type="button" role="tab" aria-controls="low" aria-selected="true">past</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button ng-click="Quality('medium')" class="nav-link text-danger" id="medium" data-bs-toggle="pill" data-bs-target="#medium" type="button" role="tab" aria-controls="medium" aria-selected="false">o'rtacha</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button ng-click="Quality('high')" class="nav-link text-danger" id="high" data-bs-toggle="pill" data-bs-target="#high" type="button" role="tab" aria-controls="high" aria-selected="false">yuqori</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button ng-click="Quality('very high')" class="nav-link text-danger" id="very_high" data-bs-toggle="pill" data-bs-target="#very_high" type="button" role="tab" aria-controls="very_high" aria-selected="false">juda yuqori</button>
                </li>
              </ul>
              <div class="input-group mb-3">
                  <input type="text" ng-model="link" id="link" class="form-control" placeholder="Youtube video url" aria-label="Youtube video or playlist url" aria-describedby="button-addon2">
                  <button class="btn btn-outline-success" ng-click="Paste()" id="paste" type="button"><i class="fa fa-paste"></i> Joylashtirish</button>
                  <button class="btn btn-outline-warning" type="button" ng-click="youtube_downloader()" id="button-addon2"><i class="fa-solid fa-recycle"></i> Konvertatsiya qilish</button>
              </div>
        </div>
            {% else %}
            {% if request.LANGUAGE_CODE == 'ru' %}
            <div class="card-body">
              <h5 class="card-title">конвертер загрузчика YouTube</h5>
              <p class="card-text">Простой веб-сайт, позволяющий загружать видео или плейлисты с YouTube и конвертировать их в MP3.</p>
              <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button ng-click="UrlTo(1)" class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true"><span class="material-icons">video_file</span> .mp4</button>
                </li>

                <li class="nav-item" role="presentation">
                  <button ng-click="UrlTo(3)" class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false"><span class="material-icons">audio_file</span> .mp3</button>
                </li>
              </ul>
              <ul class="nav nav-pills mb-3" id="quality-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button ng-click="Quality('low')" class="nav-link text-danger active" id="low" data-bs-toggle="pill" data-bs-target="#low" type="button" role="tab" aria-controls="low" aria-selected="true">низкий</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button ng-click="Quality('medium')" class="nav-link text-danger" id="medium" data-bs-toggle="pill" data-bs-target="#medium" type="button" role="tab" aria-controls="medium" aria-selected="false">середина</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button ng-click="Quality('high')" class="nav-link text-danger" id="high" data-bs-toggle="pill" data-bs-target="#high" type="button" role="tab" aria-controls="high" aria-selected="false">высокий</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button ng-click="Quality('very high')" class="nav-link text-danger" id="very_high" data-bs-toggle="pill" data-bs-target="#very_high" type="button" role="tab" aria-controls="very_high" aria-selected="false">очень высоко</button>
                </li>
              </ul>
              <div class="input-group mb-3">
                  <input type="text" ng-model="link" id="link" class="form-control" placeholder="URL-адрес видео на YouTube" aria-label="Youtube video or playlist url" aria-describedby="button-addon2">
                  <button class="btn btn-outline-success" ng-click="Paste()" id="paste" type="button"><i class="fa fa-paste"></i> Вставить</button>
                  <button class="btn btn-outline-warning" type="button" ng-click="youtube_downloader()" id="button-addon2"><i class="fa-solid fa-recycle"></i> Конвертировать</button>
              </div>
        </div>
            {% else %}
            <div class="card-body">
              <h5 class="card-title">youtube downloader converter</h5>
              <p class="card-text">A simple Website that is able to download YouTube videos or playlists and convert them into MP3.</p>
              <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button ng-click="UrlTo(1)" class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true"><span class="material-icons">video_file</span> .mp4</button>
                </li>

                <li class="nav-item" role="presentation">
                  <button ng-click="UrlTo(3)" class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false"><span class="material-icons">audio_file</span> .mp3</button>
                </li>
              </ul>
              <ul class="nav nav-pills mb-3" id="quality-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button ng-click="Quality('low')" class="nav-link text-danger active" id="low" data-bs-toggle="pill" data-bs-target="#low" type="button" role="tab" aria-controls="low" aria-selected="true">low</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button ng-click="Quality('medium')" class="nav-link text-danger" id="medium" data-bs-toggle="pill" data-bs-target="#medium" type="button" role="tab" aria-controls="medium" aria-selected="false">medium</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button ng-click="Quality('high')" class="nav-link text-danger" id="high" data-bs-toggle="pill" data-bs-target="#high" type="button" role="tab" aria-controls="high" aria-selected="false">high</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button ng-click="Quality('very high')" class="nav-link text-danger" id="very_high" data-bs-toggle="pill" data-bs-target="#very_high" type="button" role="tab" aria-controls="very_high" aria-selected="false">very high</button>
                </li>
              </ul>
              <div class="input-group mb-3">
                  <input type="text" ng-model="link" id="link" class="form-control" placeholder="Youtube video url" aria-label="Youtube video or playlist url" aria-describedby="button-addon2">
                  <button class="btn btn-outline-success" ng-click="Paste()" id="paste" type="button"><i class="fa fa-paste"></i> Paste</button>
                  <button class="btn btn-outline-warning" type="button" ng-click="youtube_downloader()" id="button-addon2"><i class="fa-solid fa-recycle"></i> Convert</button>
              </div>
        </div>
            {% endif %}
            {% endif %}

          </div>
      </div>
  </div>
  <div class="row">
      <div class="col">
          <!-- Yandex.RTB R-A-1963742-3 -->
          <div id="yandex_rtb_R-A-1963742-3"></div>
          <script>window.yaContextCb.push(()=>{
            Ya.Context.AdvManager.render({
              renderTo: 'yandex_rtb_R-A-1963742-3',
              blockId: 'R-A-1963742-3'
            })
          })</script>
      </div>
  </div>
</div>
<ins class="adsbygoogle"
    style="display:block; text-align:center;"
    data-ad-format="autorelaxed"
    data-ad-client="ca-pub-7773722896374259"
    data-ad-slot="2479701367"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<ins class="adsbygoogle"
    style="display:block; text-align:center;"
    data-ad-format="autorelaxed"
    data-ad-client="ca-pub-4137874891184814"
    data-ad-slot="4202531555"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<ins class="adsbygoogle"
style="display:block; text-align:center;"
data-ad-format="fluid"
data-ad-layout-key="-an-4i-cp+a2+21k"
data-ad-client="ca-pub-7773722896374259"
data-ad-slot="4679993061"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<ins class="adsbygoogle"
    style="display:block; text-align:center;"
    data-ad-format="fluid"
    data-ad-layout-key="-6t+ed+2i-1n-4w"
    data-ad-client="ca-pub-4137874891184814"
    data-ad-slot="7442938415"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!-- Display 1 -->
<ins class="adsbygoogle"
    style="display:block; text-align:center;"
    data-ad-client="ca-pub-7773722896374259"
    data-ad-slot="3869366477"
    data-ad-format="auto"
    data-full-width-responsive="true"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!-- 1 chi abzast Mobil -->
<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-client="ca-pub-4137874891184814"
     data-ad-slot="2799587029"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</body>
</html>