{% load i18n %}
{% load static %}
{% comment %} {% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
<div class="fixed-top">
  <div class="position-relative" style="margin-block-start:50px;">
    <div class="position-absolute top-0 end-0 translate-middle">
      <div class="container">
        <div class="row">
          <div class="col">
            <form action="{% url 'set_language' %}" method="POST">
              {% csrf_token %}
              <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="language" onchange="this.form.submit()">
                {% for language in languages %}
                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                  {{ language.name_local }}
                  {% if LANGUAGE_CODE == 'en' %}
                  <img src="https://ipapi.co/static/images/flags/us.png" />
                  {% else %}
                  <img src="https://ipapi.co/static/images/flags/{{LANGUAGE_CODE}}.png" />
                  {% endif %}
                </option>
                {% endfor %}
              </select>
            </form>
          </div>
          <div class="col-1">
            {% if LANGUAGE_CODE == 'en' %}
            <img style="object-fit: cover;" src="https://ipapi.co/static/images/flags/us.png" />
            {% else %}
            <img style="object-fit: cover;" src="https://ipapi.co/static/images/flags/{{LANGUAGE_CODE}}.png" />
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="fixed-top">
  <div class="position-relative">
      <div class="position-absolute end-0">
          <div class="C0mplexButton float-end">
            <a href="/">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                X
              </a>
          </div>
      </div>
  </div>
</div> {% endcomment %}
<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="theme-color" content="#317EFB"/>
      <meta name="description" content="Complex Programmer - Online services (Tests, IP search, Latin - Cyrillic text translate, instagram downloader, youtube downloader, complex password generator, online games, ...)"/>
      <link rel="icon" sizes="16x16" href="https://complexprogrammer.uz/static/img/favicon.ico">
      <link rel="manifest" href="/static/manifest.json">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
      <link rel="stylesheet" href="/static/css/C0mplexButtonStyle.css">
      <link rel="stylesheet" href="/static/css/blog/style.css">
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7773722896374259"
      crossorigin="anonymous"></script>
      <title>My Blog</title>
    </head>
    <body>
      <ins class="adsbygoogle"
        style="display:block; text-align:center;"
        data-ad-layout="in-article"
        data-ad-format="fluid"
        data-ad-client="ca-pub-7773722896374259"
        data-ad-slot="2303661293"></ins>
      <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
      <!-- Navbar -->
      {% comment %} <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container">
              <a class="navbar-brand" href="#">My Blog</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav ml-auto">
                      <li class="nav-item">
                          <a class="nav-link" href="#">Bosh Sahifa</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">Maqolalar</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">Biz haqimizda</a>
                      </li>
                      <!-- Boshqa bo'limlar qo'shishingiz mumkin -->
                  </ul>
              </div>
          </div>
      </nav> {% endcomment %}
  
      <!-- Maqolalar sehnasi -->
      <div class="container mt-5" style="margin-block-end:100px">
          <div class="row">
              <div class="col-md-8">
                <h1><a class="nav-link" href='/blog'>Maqolalar</a></h1>
                {% if id == 0 %}
                {%for item in posts%}
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <picture>
                        <source type="image/webp" srcset="/media/{{item.image}}">
                        <source type="image/jpeg" srcset="/media/{{item.image}}">
                        <source type="image/png" srcset="/media/{{item.image}}">
                        <img src="/media/{{item.image}}" class="img-fluid rounded-start" alt="{{item.image}}">
                      </picture>
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title"><a class="nav-link" href="/blog?id={{item.id}}">{{item.name_uz_uz}}</a></h5>
                        <p class="card-text"><a class="nav-link" href="/blog?id={{item.id}}">{{item.title_uz_uz}}</a></p>
                        <div class="C0mplexButton Success">
                          <a href="/blog?id={{item.id}}">
                              <span></span>
                              <span></span>
                              <span></span>
                              <span></span>
                              <div class="spinner-grow spinner-grow-sm" role="status"></div>
                              Kirish
                              <div class="spinner-border spinner-grow-sm" role="status"></div>
                          </a>
                        </div>
                        <p class="card-text"><small class="text-muted">{{item.created_at}}</small></p>
                      </div>
                    </div>
                  </div>
                </div>
                {%endfor%}
                {% else %}
                <h4>{{post.name_uz_uz}}</h4>
                <div class="card mb-3">
                  <picture>
                    <source type="image/webp" srcset="/media/{{post.image}}">
                    <source type="image/jpeg" srcset="/media/{{post.image}}">
                    <source type="image/png" srcset="/media/{{post.image}}">
                    <img src="/media/{{post.image}}" class="card-img-top" alt="{{post.image}}">
                  </picture>
                  <div class="card-body">
                    <h5 class="card-title">{{post.name_uz_uz}}</h5>
                    <p class="card-text">{{post.title_uz_uz}}</p>
                    <p class="card-text">{{post.body_uz_uz|safe}}</p>
                    <p class="card-text"><small class="text-muted">{{post.created_at}}</small></p>
                  </div>
                </div>
                {% endif %}
              </div>
              <div class="col-md-4">
                <h2>Kategoriyalar</h2>
                <ul class="list-group">
                  {%for item in categories%}
                  <li class="list-group-item">
                    <button type="button" class="btn btn-primary position-relative">
                      {{item.name_uz_uz}}
                      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        2
                      </span>
                    </button>
                  </li>
                  {%endfor%}
                </ul>
                <br />
                <h2>So'nggi Maqolalar</h2>
                  <ul class="list-group">
                    {%for item in posts%}
                      <li class="list-group-item"><a class="link-info" href="/blog?id={{item.id}}">{{item.name_uz_uz}}</a></li>
                    {%endfor%}
                  </ul>
              </div>
          </div>
      </div>
      <ins class="adsbygoogle"
        style="display:block; text-align:center;"
        data-ad-format="autorelaxed"
        data-ad-client="ca-pub-7773722896374259"
        data-ad-slot="2479701367"></ins>
      <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
      <ins class="adsbygoogle"
        style="display:block; text-align:center;"
        data-ad-format="fluid"
        data-ad-layout-key="-an-4i-cp+a2+21k"
        data-ad-client="ca-pub-7773722896374259"
        data-ad-slot="4679993061"></ins>
      <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
      <ins class="adsbygoogle"
        style="display:block; text-align:center;"
        data-ad-client="ca-pub-7773722896374259"
        data-ad-slot="3869366477"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
      <!-- Footer -->
      <footer class="bg-dark text-light text-center py-3">
          <p>&copy; 2024 Complex Programmer Blog Sayti. Barcha huquqlar himoyalangan.</p>
      </footer>
      <!-- Bootstrap JavaScript fayllari (Popper.js va Bootstrap JS ni o'z ichiga oladi) -->
      {% comment %} <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script> {% endcomment %}
      {% comment %} <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script> {% endcomment %}
      <script type="module">
        import { initializeApp } from "https://www.gstatic.com/firebasejs/10.8.0/firebase-app.js";
        import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.8.0/firebase-analytics.js";
        const firebaseConfig = {
          apiKey: "AIzaSyDpWaFi5QLTNc-yY0ieMKJtGOmbm2ofBm4",
          authDomain: "c0mplex.firebaseapp.com",
          databaseURL: "https://c0mplex-default-rtdb.asia-southeast1.firebasedatabase.app",
          projectId: "c0mplex",
          storageBucket: "c0mplex.appspot.com",
          messagingSenderId: "755681568857",
          appId: "1:755681568857:web:102b1b733df55baefe2948",
          measurementId: "G-H8XGTS4B9J"
        };
        const app = initializeApp(firebaseConfig);
        const analytics = getAnalytics(app);
      </script>
  </body>
</html>