<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Cache-Control" content="no-cache">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Expires" content="0">
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
        <link rel="apple-touch-icon" sizes="76x76" href="https://complexprogrammer.uz/static/img/C0mplex.png">
        <link rel="icon" type="image/png" sizes="32x32" href="https://complexprogrammer.uz/static/img/favicon.ico">
        <link rel="icon" type="image/png" sizes="16x16" href="https://complexprogrammer.uz/static/img/favicon.ico">
        <link rel="manifest" href="https://postda.uz//favicons/site.webmanifest">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <title>C0mplex</title>
        <link href="https://postda.uz//css/chunk-026f864c.ff2c1046.css" rel="prefetch">
        <link href="https://postda.uz//css/chunk-4ce9b1a0.9a38fb56.css" rel="prefetch">
        <link href="https://postda.uz//css/chunk-5e18e374.f072bc58.css" rel="prefetch">
        <link href="https://postda.uz//js/chunk-026f864c.75020d55.js" rel="prefetch">
        <link href="https://postda.uz//js/chunk-2d0a3537.386c72b5.js" rel="prefetch">
        <link href="https://postda.uz//js/chunk-2d0a449b.1bafbb34.js" rel="prefetch">
        <link href="https://postda.uz//js/chunk-2d0af48a.102ff9b9.js" rel="prefetch">
        <link href="https://postda.uz//js/chunk-2d0b6197.54b5172d.js" rel="prefetch">
        <link href="https://postda.uz//js/chunk-2d0bd3e4.03298fdf.js" rel="prefetch">
        <link href="https://postda.uz//js/chunk-2d0bd977.34382c13.js" rel="prefetch">
        <link href="https://postda.uz//js/chunk-2d0ddddd.8af030d6.js" rel="prefetch">
        <link href="https://postda.uz//js/chunk-2d21a441.9502ad25.js" rel="prefetch">
        <link href="https://postda.uz//js/chunk-2d2248a9.bfed5581.js" rel="prefetch">
        <link href="https://postda.uz//js/chunk-4ce9b1a0.e1134be1.js" rel="prefetch">
        <link href="https://postda.uz//js/chunk-4f90276c.a3781a1d.js" rel="prefetch">
        <link href="https://postda.uz//js/chunk-5e18e374.2f1bbbd8.js" rel="prefetch">
        <link href="https://postda.uz//css/app.a176b459.css" rel="preload" as="style">
        <link href="https://postda.uz//css/chunk-vendors.71f299b1.css" rel="preload" as="style">
        <link href="https://postda.uz//js/app.3abb9f7c.js" rel="preload" as="script">
        <link href="https://postda.uz//js/chunk-vendors.5acb604a.js" rel="preload" as="script">
        <link href="https://postda.uz//css/chunk-vendors.71f299b1.css" rel="stylesheet">
        <link href="https://postda.uz//css/app.a176b459.css" rel="stylesheet">
    </head>
    <body>
        <noscript>
            <strong>We're sorry but postda.uz doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
        </noscript>
        <div id="app"></div>
        <script src="https://postda.uz//js/chunk-vendors.5acb604a.js"></script>
        <script src="https://postda.uz//js/app.3abb9f7c.js"></script>
    </body>
</html>
